.recipe{
  width: auto;
  height: 220px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  flex-grow: 1;
}

.recipe-details{
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.recipe-name{
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 500;
  cursor: pointer;
  color: var(--secondary);
  transition: all 0.1s linear;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipe-stats{
  width: 100%;
  display: flex;
  justify-content:space-between;
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--secondary);
}

.recipe-time{
  display: flex;
  line-height: 20px;
}

.recipe-time>i{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--secondary);
  display: block;
  margin-right: 5px;
  position: relative;
}

.recipe-time>i::before{
  content: "";
  width: 7px;
  height: 9px;
  border: 1px solid var(--secondary);
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  margin-left: 8px;
  margin-top: 2px;
}

.recipe-difficulty{
  display: flex;
  align-items: flex-end;
}

.recipe-difficulty>i{
  width: 10px;
  height: 10px;
  /* background-color: var(--secondary); */
  border: 1px solid var(--secondary);
  margin-right: 3px;
}

.recipe-difficulty>i:nth-child(2){
  height: 15px;
}

.recipe-difficulty>i:nth-child(3){
  height: 20px;
}

.recipe-difficulty>i.selected{
  background-color: var(--accent);
  border-color: var(--accent);
}

.recipe-favourite>i{
  width: 14px;
  height: 20px;
  display: block;
  color: var(--secondary);
  border: 1px solid currentColor;
  border-bottom-color: transparent;
  border-top-left-radius: 5px;
  position: relative;
  transition: all 0.1s linear;
}

.recipe-favourite>i.selected{
  background-color: var(--accent);
  border-color: var(--accent);
  border-bottom: transparent;
}

.recipe-favourite>i.selected::before{
  border-color: transparent;
  margin-top: 14px;
}

.recipe-favourite>i::before{
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid currentColor;
  background-color: white;
  position: absolute;
  margin-left: 1px;
  margin-top: 13px;
  transform: rotate(45deg);
  border-right-color: transparent;
  border-bottom-color: transparent;
  transition: all 0.1s linear;
}

.recipe-image{
  width: 100%;
  height: 150px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.recipe-image>img{
  width: 100%;
  position: absolute;
  top: 0;
  /* height: 100%; */
}

@media (hover:hover){
  .recipe:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .recipe:hover h3.recipe-name{
    color: var(--accent);
  }
}

.recipe:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipe:active h3.recipe-name{
  color: var(--accent);
}

.recipe>button{
  position: absolute;
  bottom: 12px;
  align-self: center;
}

.recipe-image>.recipe-heart{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

.recipe-image>.recipe-heart>i{
  width: 12px;
  height: 20px;
  position: relative;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: currentColor;
  border: 1px solid var(--accent);
  transform: rotate(45deg);
  margin-left: 6px;
  transition: all 0.1s linear;
}

.recipe-image>.recipe-heart>i::before{
  content: "";
  width: 12px;
  height: 20px;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: currentColor;
  border: 1px solid var(--accent);
  transform: rotate(-90deg);
  margin-top: 3px;
  margin-left: -5px;
}

.recipe-image>.recipe-heart>i::after{
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  background-color: currentColor;
  margin-top: 6px;
}

.recipe-image>.recipe-heart.selected>i{
  --accent: rgba(235, 52, 63);
  color: rgba(235, 52, 63);
}

@media (hover:hover){
  .recipe-image>.recipe-heart:hover>i{
    --accent: rgba(235, 52, 63);
    color: rgba(235, 52, 63);
  }

  .recipe-image>.recipe-heart:hover{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
}

.recipe-image>.recipe-heart:active>i{
  --accent: rgba(235, 52, 63);
  color: rgba(235, 52, 63);
}

.recipe-image>.recipe-heart:active{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
