.filters{
  width: 100%;
  max-height: 475px;
  padding: 0 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filters::-webkit-scrollbar{
  width: 0;
}

.filter{
  margin-bottom: 20px;
}

.filters>h5{
  font-size: 1.1rem;
  color: hsl(0, 30%, 30%);
  font-weight: 500;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 5px;
}

