#notifications{
    width: auto;
    height: 180px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 9999;
}

.notification{
    min-width: 320px;
    background-color: white;
    color: var(--accent);
    border: 1px solid var(--primary);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    white-space: nowrap;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.notification.error{
    border-color: red;
}


@media only screen and (max-width: 825px){
  #notifications{
    width: 100%;
    top: 20px;
    left: 0;
    bottom: unset;
    right: unset;
  }
}
