*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
}

:root{
  --aside-width: 280px;
  --primary: #fec429;
  --accent: #2b2b2b;
  --secondary: #787878;
  --toggle: 1;
}

body{
  font-family: "Roboto", sans-serif;
}

input{
  transition: all 0.4s cubic-bezier(0.5,0.5,0.5,2.5);
}

h1,h2,h3,h4,h5,h6{
  color: var(--accent);
}

p{
  color: var(--secondary);
}

button{
  width: 220px;
  height: 35px;
  background-color: var(--primary);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.1s linear;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary);
}

@media (hover:hover){
  button:hover{
    background-color: white;
    border: 1px solid var(--accent);
  }
}

button:active{
  background-color: white;
  border: 1px solid var(--accent);
}

input:focus,
input:focus-visible{
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

